Package: stacer-dbgsym
Package-Type: ddeb
Source: stacer
Version: 1.1.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Oguzhan INAN <oguzhan3488@gmail.com>
Installed-Size: 8170
Depends: stacer (= 1.1.1-1)
Section: debug
Priority: optional
Description: debug symbols for stacer
Build-Ids: ad9c0d6299c0f7c2277f39e7dea26de6c0e75cb2
